fastapi~=0.112.2
uvicorn
pytest~=8.3.2
flake8
rdkit~=2024.3.5
python-multipart
httpx
pydantic_settings
SQLAlchemy~=2.0.32
alembic~=1.13.2
asyncpg
psycopg2-binary
redis~=3.5.3
celery~=5.4.0
boto3~=1.35.24